.menu
{
    margin: 0 auto;
    max-width: 1000px;
    font-size: 0;
}

.menu_hamburger
{
    display: none;
}

.menu a
{
    font-size: 19px;
    font-family: "Georgia", sans-serif;
    color: black;
    padding-left: 45px;
}

.about_me_item
{
    margin: 0;
    display: inline-block;
    background-image: url("../images/about_me_icon.png");
    background-repeat: no-repeat;
    background-position: 21px 17px;
    padding-top: 15px;
    padding-bottom: 14px;
    padding-right: 22px;

}

.about_me_item:hover
{
    background-image: url("../images/w_about_me_icon.png");
    background-repeat: no-repeat;
    background-position: 21px 17px;
    background-color: rgb(21,169,140);
    color: white;
}

.hobby_item
{
    margin: 0;
    display: inline-block;
    background-image: url("../images/hobby_icon.png");
    background-repeat: no-repeat;
    background-position: 19px 17px;
    padding-right: 21px;
    padding-top: 15px;
    padding-bottom: 14px;
}

.hobby_item:hover
{
    background-color: rgb(21,169,140);
    color: white;
    background-image: url("../images/w_my_hobby.png");
    background-repeat: no-repeat;
    background-position: 19px 17px;
}

.my_films_item
{
    display: inline-block;
    background-image: url("../images/video_icon.png");
    background-repeat: no-repeat;
    background-position: 21px 17px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 14px;
}

.my_films_item:hover
{
    background-color: rgb(21,169,140);
    color: white;
    background-image: url("../images/w_video_icon.png");
    background-repeat: no-repeat;
    background-position: 18px 17px;    
}

body
{
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-position: 0 50px;
    max-width: 1920px;
    width: 100%;
    height: auto;
}

.content
{
    margin: 0 auto;
    max-width: 1000px;
}

.content .left_part
{
    float: left;
    width: 33%;
    margin-right: 6%;
    padding-left: 2%;
    margin-top: 203px;
}

.sidebar_header
{
    font-size: 24px;
    line-height: 34px;
    color: rgb(21,169,140);
    font-family: "open sans", sans-serif;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 12px;
}

.left_part .foto
{
    border-radius: 5px;
    max-height: 350px;
    max-width: 330px;
    width: 100%;
    height: auto;
}

.right_part
{
    float: left;
    width: 57%;
    margin-top: 228px;
}

.blockquote_block
{
    height: 210px;
}

.clear
{
    clear: both;
}

.quote
{
    margin-top: 50px;
    width: 130px;
    height: 70px;
}

blockquote
{
    font-size: 28px;
    line-height: 42px;
    color: rgb(255,255,255);
    font-family: "Georgia", sans-serif;
    font-style: italic;
}

.autor
{
    line-height: 46px;
    font-size: 16px;
    color: rgb(255,255,255);
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    margin-left: 5px;
}

.right_part .about_me h1
{
    font-size: 48px;
    line-height: 42px;
    color: rgb(51,51,51);
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
}

.line
{
    margin-top: 32px;
    margin-bottom: 40px;
    height: 6px;
    border-radius: 2px;
}

.my_hobby
{
    font-size: 36px;
    line-height: 42px;
    color: rgb(51,51,51);
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    margin-top: 40px;
    margin-bottom: 16px;
    margin-left: 0px;
}

.list_text
{
    font-size: 19px;
    line-height: 36px;
    color: rgb(85,85,85);
    font-family: "Georgia", sans-serif;
    text-align: left;
}

.text
{
    font-size: 19px;
    line-height: 32px;
    color: rgb(85,85,85);
    font-family: "Georgia", sans-serif;
}

.write_me
{
    margin-top: 40px;
    width: 150px;
    font-size: 19px;
    line-height: 32px;
    color: rgb(21,169,139);
    font-family: "Georgia", sans-serif;
}

.write_me .link_name
{
    border-bottom: 2px solid rgb(21,169,139);
}

.write_me .none
{
    border-bottom: 0px solid rgb(21,169,139);
}

li
{
    margin-left: 20px;
}

a
{
    color: rgb(21,169,139);
    text-decoration: none;
}

.my_films_block
{
    max-width: 1200px;
    width: 62,5%;
    margin: 0 auto;
    margin-top: 94px;
    margin-bottom: 56px;
}

.advansed_film_block
{
    visibility: hidden;
    overflow: hidden;
    height: 0;
    max-width: 1200px;
    width: 62,5%;
    margin: 0 auto;
    margin-bottom: 56px;
    opacity: 0;
}

.visible_advanced_film
{
    height: auto;
    visibility: visible;
    transition: 2s;
    opacity: 1;
}

.my_films_block img,
.advansed_film_block img
{
    border-radius: 6px;
    margin-bottom: 16px;
    max-width: 100%;
    height: auto;
}

.my_films_block h2,
 h2
{
    font-size: 36px;
    font-weight: 500;
    line-height: 42px;
    color: rgb(51,51,51);
    font-family: "Open Sans", sans-serif;
    margin-bottom: 34px;
}

 h4
{
    font-size: 22px;
    line-height: 32px;
    color: rgb(51,51,51);
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    margin-bottom: 18px;
}

.my_films_block p,
.advansed_film_block p
{
    font-size: 16px;
    line-height: 28px;
    color: rgb(85,85,85);
    font-family: "Georgia", sans-serif;
}

.first_film
{
    float: left;
    width: 23.75%;
    margin-right: 20px;
}

.second_film
{
    float: left;
    width: 23.75%;
    margin-right: 20px;
}

.third_film
{
    float: left;
    width: 23.75%;
    margin-right: 20px;
}

.fourth_film
{
    float: left;
    width: 23.75%;
    margin: 0;
}

.all_films
{
    padding: 15px 0;
    display: block;
    text-align: center;
    background-color: rgb(21,169,140);
    border-radius: 5px;
    font-size: 19px;
    color: rgb(245,245,245);
    font-family: "Georgia", sans-serif;
    width: 220px;
    margin: 0 auto;
}

.feedback_writeme
{
    margin: 0 auto;
    max-width: 700px;
    width: 90%;
    margin-bottom: 66px;
    margin-top: 105px;
}

.feedback_form
{
    max-width: 540px;
    width: 100%;
    margin: 0 auto;
    font-size: 20px;
    line-height: 32px;
    color: rgb(51,51,51);
    font-family: "Open Sans";
}

form
{
    max-width: 540px;
    width: 100%;
}

.feedback_writeme .line
{
    max-width: 200px;
    width: 28%;
    float: left;
    border-bottom: 1px solid rgb(169,169,169);
    margin: 0 0;
    height: 20px;
}

.feedback_header
{
    max-width: 295px;
    width: 42%;
    float: left;
    text-align: center;
}

.write_me_header
{
    margin-left: 60px;
    margin-top: 42px;
    margin-bottom: 36px;
    font-size: 36px;
    line-height: 42px;
    color: rgb(51,51,51);
    font-family: "Open Sans";
    font-weight: 600;
    display: block;
    float: left;
    max-width: 250px;
}


.red_star
{
    color: red;
    padding-left: 5px;
}

.background
{
    position: fixed;
    opacity: 0.5;
    background-color: rgb(50,50,50);
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    cursor: pointer;
}

.popup 
{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 900;
    height: 100%;
    width: 100%;
    display: none;
    margin: auto auto;
    max-width: 660px;
    max-height: 900px;
    background-color: white;
    border-radius: 10px;
    overflow: auto;
}

.set_visible
{
    display: block;
}

.close_window_button
{
    background-image: url("../images/exit_icon.png");
    background-repeat: no-repeat;
    display: block;
    float: right;
    background-position: 5px 30px;
    padding: 40px 30px;
}

input[type="text"]
{
    font-size: 20px;
    max-width: 519px;
    width: 100%;
    height: 46px;
    margin-top: 4px;
    margin-bottom: 24px;
    padding-left: 3%;
}

select
{
    margin-top: 4px;
    margin-bottom: 41px;
    border: 2px solid rgb(201,201,201);
    border-radius: 2px;
    font-size: 18px;
    line-height: 32px;
    color: rgb(85,85,85);
    font-family: "Open Sans";
    max-width: 540px;
    width: 100%;
    height: 50px;
    cursor: pointer;
    padding-left: 3%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("../images/arrow.png");
    background-repeat: no-repeat;
    background-position: 97% 50%;
}


.required_field
{
    border: 2px solid rgb(201,201,201);
    border-radius: 2px;
}

.required_field:hover
{
    border: 2px solid rgb(166,166,166);
}

.error
{
    border: 2px solid rgb(210, 0, 0);
}

.required_field:focus
{
    border:2px solid rgb(21,169,140);
}

input[type="radio"]
{
    margin-top: 5px;
    width: 12px;
    height: 12px;
    margin-right: 10px;
    margin-bottom: 44px;
    font-size: 18px;
    line-height: 32px;
    color: rgb(51,51,51);
    font-family: "Open Sans";
    cursor: pointer;
}

.gender
{
    margin-bottom: 4px;
}

.sex
{
    margin-right: 35px;
    width: 140px;
    font-size: 18px;
    line-height: 32px;
    color: rgb(51,51,51);
    font-family: "Open Sans",sans-serif;
    cursor: pointer;
}

textarea
{
    margin: 0 auto;
    margin-top: 4px;
    border: 2px solid rgb(201,201,201);
    max-width: 504px;
    width: 100%;
    height: 112px;
    resize: none;
    padding: 3%;
    font-size: 20px;
}

input[type="submit"]
{
    max-width: 220px;
    width: 40%;
    height: 50px;
    background-color: rgb(21,169,140);
    text-align: center;
    border-radius: 5px;
    font-size: 1em;
    line-height: 32px;
    color: rgb(245,245,245);
    font-family: "Georgia", sans-serif;
    margin-top: 40px;
    cursor: pointer;
}

.copyright
{
    height: 70px;
    width: 100%;
    text-align: center;
    background-color: rgb(245,245,245);
    margin-top: 50px;
}

.copyright_text
{
    display: inline-block;
    font-size: 16px;
    padding-top: 23px;
    color: rgb(85,85,85);
    font-family: "Georgia", sans-serif;
    width: 90%;
}

.red_border
{
    border: 4px solid rgb(210, 56, 23);
}

.remove_overflow
{
    overflow: hidden;
}

@media screen and (max-width: 1280px) and (min-width: 640px)
{
    .first_film
    {
        width: 43%;
        margin-right: 0;
        margin-left: 5%;
        margin-bottom: 3%;
    }
    
    .second_film
    {
        width: 43%;
        margin-right: 4%;
        margin-left: 3%;
        margin-bottom: 3%;
    }

    .third_film
    {
        width: 43%;
        margin-right: 0;
        margin-left: 5%;
    }
    
    .clear_between_second_third
    {
        clear: both;
    }
    

    .fourth_film
    {
        width: 43%;
        margin-left: 3%;
        margin-right: 4%;
    }
    
    img
    {
        width: 100%;
        height: auto;
    }
    
    .line
    {
        width: 60px;
    }
    
    .my_films_block h2
    {
        margin-left: 5%;
    }
}

@media screen and (max-width: 900px)
{
    .content .left_part,
    .content .right_part
    {
        margin-top: 200px;
    }
    
    body
    {
        background-size: 1800px;
    }
    
}

@media screen and (max-width: 800px)
{
    body
    {
        background-size: 1700px;
    }
    
    .content .left_part,
    .content .right_part
    {
        margin-top: 200px;
    }
    
    blockquote
    {
        font-size: 26px;
        line-height: 36px;
    }
    
    .autor
    {
        line-height: 36px;
        font-size: 16px; 
    }
}


@media screen and (max-width: 640px)
{
    .about_me_item, 
    .my_films_item, 
    .hobby_item
    {
        display: none;
        padding-right: 10px;
    }
    
    .menu_hamburger
    {
        display: block;
        background-image: url("../images/hamburger.png");
        background-repeat: no-repeat;
        background-position: 97% 50%;
        background-size: 50px;
        padding: 25px 20px;
    }
    
    .content .right_part,
    .content .left_part
    {
        margin-top: 180px;
    }
    
    .my_films_block,
    .advansed_film_block
    {
        width: 90%;
        margin: 30px auto;
    }
    
    .my_films_block h2
    {
        display: block;
        width: 90%;
        margin: 30px auto;
    }
    
    .first_film,
    .second_film,
    .third_film,
    .fourth_film
    {
        width: 90%;
        margin: 0 auto;
        float: none;
    }
    
    .my_films_block p,
    .advansed_film_block p
    {
        margin-bottom: 20px;
    }
    
    .my_films_block img,
    .advansed_film_block img
    {
        width: 100%;
        height: auto;
    }
    
    body
    {
        background-position: 0 50px;
        background-size: 1500px;
    }
    
    blockquote
    {
        font-size: 24px;
        line-height: 34px;
    }
    
    .autor
    {
        line-height: 34px;
        font-size: 14px; 
    }
    
    .my_films_block h2
    {
        margin-top: 40px;
    }
    
    .feedback_writeme .line
    {
        display: none;
    }
    
    .feedback_header
    {
        width: 100%;
        float: none;
        max-width: 100%;
    }

    textarea
    {
        width: 87%;
        margin-left: 2.5%;
        
    }
    
    input[type="text"]
    {
        width: 90%;
        margin-left: 2.5%;
    }
    
    select
    {
        width: 94%;
        margin-left: 2%;
    }
}

@media screen and (max-width: 570px)
{
    .menu
    {
        float: none;
    }
    
    .content .left_part
    {
        float: none;
        width: 80%;
        margin: 0 auto;
        margin-top: 150px;
    }
    
    .content .right_part
    {
        float: none;
        width: 80%;
        margin: 0 auto;
    }
    
    input[type="submit"]
    {
        font-size: 0.7em;
    }
    
    .blockquote_block
    {
        margin-top: 50px;
        height: 150px;
    }
    
    blockquote,
    .autor
    {
        color: black;
    }
    
    label,
    .gender
    {
        margin-left: 2.5%;
    }
    
    .feedback_header
    {
        width: 100%;
    }
    
    .feedback_writeme
    {
        margin-left: 2.5%;
        width: 90%;
    }
}
