.text_options
{
    font-family: "Source Sans Pro";
    color: #506a85;
}

.under_header
{
    background-color: #f5f7f9;
    height: 40px;
    font-size: 12px;
    color: rgb(80,106,133);
    font-family: "Source Sans Pro";
}

.email_in_header
{
    background-image: url("../img/icon-mail-1.png");
    background-repeat: no-repeat;
    background-position: center left;
    display: inline-block;
    line-height: 40px;
    margin-left: 6%;
    padding-left: 15px;
}

.phone_in_header
{
    background-image: url("../img/icon-mobile.png");
    background-repeat: no-repeat;
    background-position: center left;
    display: inline-block;
    line-height: 40px;
    margin-left: 25px;
    padding-left: 15px;
}

.social
{
    display: inline-block;
    margin-top: 10px;
    width: 250px;
    float: right;    
}

.social a
{
    padding: 15px 15px;
}

.social_icon_facebook
{
    background-image: url("../img/icon-s-facebook.png");
    background-repeat: no-repeat;
    background-position: center;
}

.social_icon_facebook:hover
{
    background-color: #4567b3;
    background-image: url("../img/icon-s-facebook-hover.png");
    background-repeat: no-repeat;
    background-position: center;
}

.social_icon_google
{
    background-image: url("../img/icon-s-gplus.png");
    background-repeat: no-repeat;
    background-position: center;
}

.social_icon_google:hover
{
    background-color: #dd5745;
    background-image: url("../img/icon-s-gplus-hover.png");
    background-repeat: no-repeat;
    background-position: center;
}

.social_icon_twitter
{
    background-image: url("../img/icon-s-twitter.png");
    background-repeat: no-repeat;
    background-position: center;
}

.social_icon_twitter:hover
{
    background-color: #2fbbed;
    background-image: url("../img/icon-s-twitter-hover.png");
    background-repeat: no-repeat;
    background-position: center;
}

.social_icon_pinterets
{
    background-image: url("../img/icon-s-pinterest.png");
    background-repeat: no-repeat;
    background-position: center;
}

.social_icon_pinterets:hover
{
    background-color: #2fbbed;
    background-image: url("../img/icon-s-pinterest-hover.png");
    background-repeat: no-repeat;
    background-position: center;
}

.social_icon_pinterets
{
    background-image: url("../img/icon-s-pinterest.png");
    background-repeat: no-repeat;
    background-position: center;
}

.social_icon_pinterets:hover
{
    background-color: #d94347;
    background-image: url("../img/icon-s-pinterest-hover.png");
    background-repeat: no-repeat;
    background-position: center;
}

.social_icon_behance
{
    background-image: url("../img/icon-s-behance.png");
    background-repeat: no-repeat;
    background-position: center;
}

.social_icon_behance:hover
{
    background-color: #2f79ff;
    background-image: url("../img/icon-s-behance-hover.png");
    background-repeat: no-repeat;
    background-position: center;
}

.social_icon_dribbble
{
    background-image: url("../img/icon-s-dribbble.png");
    background-repeat: no-repeat;
    background-position: center;
}

.social_icon_dribbble:hover
{
    background-color: #eb6397;
    background-image: url("../img/icon-s-dribbble-hover.png");
    background-repeat: no-repeat;
    background-position: center;
}

.email_in_header:hover
{
    //color: rgb(80,106,133);
}

.header
{
    height: 110px;
    background-image: url("../img/logo_dark.png");
    background-repeat: no-repeat;
    background-position: 7% center; 
}

.header_menu
{
    margin: 0;
}


.header .mega_menu li
{
    margin: 0;
}

.menu_item
{
    display: inline;
    margin-top: 40px;
    margin-left: 0.8%;
    font-size: 15px;
    color: rgb(80,106,133);
    font-family: "Source Sans Pro";
    font-weight: bold;
}

.first_menu_item
{
    margin-left: 23.5%;
}

.menu_item a
{
    font-size: 15px;
    color: rgb(80,106,133);
    font-family: "Source Sans Pro";
    font-weight: bold;
    text-align: center;

}

.search_icon
{
    margin-top: 55px;
    //margin-left: 20%;
}

.search
{
    margin-left: 18%;
}


.set_wid
{
    width: 1170px !important;
    height: 420px !important;
}

.mega_menu:hover
{
    color: #00bb9b;
}

.special_pages
{
    margin: 0;
}


.hamburger
{
    background-image: url("../img/hamburger.png");
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-size: 50px;
    padding: 55px 25px;
    margin-right: 10px;

}

.top
{
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
}

.top_block
{
    text-align: center;
}

.top_block h1
{
    margin-top: 300px;
    margin-bottom: 24px;
    font-size: 78px;
    letter-spacing: 5px;
    line-height: 68px;
    color: rgb(255,255,255);
    font-family: "Lato";
    font-weight: 900;
}

.top_block p
{
    font-size: 22px;
    letter-spacing: 1px;
    line-height: 36px;
    color: rgb(255,255,255);
    font-family: "Lato";
    
}

.start_button
{
    background-color: #00bb9b;
    border-radius: 3px;
    margin-top: 40px;
    margin-bottom: 403px;
    padding: 23px 70px;
}

.button_title
{
    font-size: 18px;
    letter-spacing: 0;
    color: rgb(255,255,255);
    font-family: "Source Sans Pro";
    font-weight: bold;
    margin-bottom: 200px;
}

.destination
{
    //height: 170px;
    margin-bottom: 100px;
    text-align: center;
    color: #4d5b6a;
}

.destination p
{
    font-family: "Source Sans Pro";
    font-size: 22px;
    line-height: 36px;
    font-weight: 500;
    margin: 0 95px;
}

.destination h2
{
    font-size: 44px;
    letter-spacing: 0.4px;
    line-height: 88px;
    font-weight: 600;
    font-family: "Lato";
    text-align: center;
    margin-bottom: 8px;
}

.property
{
    margin-bottom: 110px;
    font-family: "Source Sans Pro";
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #4d5b6a;

}

.property h3
{
    font-size: 26px;
    letter-spacing: 1px;
    line-height: 34px;
    font-family: "Lato";
    font-weight: bold;
    margin-bottom: 15px;
}

.property img
{
    margin-left: 18px;
}

.property .first_img
{
    margin-left: 5px;
}

.last_works_background
{
    background-color: #f1f5f7;
    text-align: center;
    padding-top: 120px;
    margin: 0 auto;
    color: rgb(80,106,133);
}

.last_works_block h2
{
    letter-spacing: 0.5px;
    font-size: 44px;
    letter-spacing: 0.3px;
    line-height: 54px;
    font-family: "Lato";
    font-weight: bold;
    margin-bottom: 20px;
}

.last_work_text
{
    font-family: "Source Sans Pro";
    font-size: 22px;
    line-height: 36px;
    font-weight: 500;
    margin-top: 30px;
    letter-spacing: 0.3px;
    margin-bottom: 83px;
}


.sample_work_title
{
    color: rgb(80,106,133);
}

.karusel
{
    margin: 0 auto;
    margin-top: 60px;
    background: url("../img/indicators1.png") no-repeat 50% 190px;
}

.card_img:hover
{
    opacity: 0.1;
}

.transparent:hover
{
    opacity: 0.1;
}

.img_bg
{
    background-image: url("../img/background_green.png");
    background-size: 50px;
    max-width: 570px;
    width: 100%;
    height: auto;

}

.sample_work_title h4
{
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
    color: rgb(80,106,133);
}

.indicators
{
    margin: 30px auto 20px;
}

.suggest_try
{
    text-align: center;
    height: 365px;
    margin-top: 125px;
    color: #4d5b6a;
}

.suggest_try h2
{
    font-family: 'Lato',sans-serif;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: #506a85;
    font-size: 44px;
    line-height: 130%;
}

.touch_button
{
    background-color: #00bb9b;
    border-radius: 3px;
    font-family: "Source Sans Pro";
    font-size: 15px;
}

.suggest_try p
{
    font-family: "Source Sans Pro";
    font-size: 22px;
    line-height: 34px;
    font-weight: 500;
    margin-top: 22px;
    margin-bottom: 40px;
    letter-spacing: 0.3px;
}

.footer
{
    background-color: #2f3f51;
    height: 365px;
    padding-top: 70px;
    border: 0px solid rgb(21,169,139);
}

.footer h3
{
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 22px;
    color: rgb(255,255,255);
    font-family: "Lato";
    font-weight: bold;
    //margin-bottom: 25px;
}

.footer p,
.footer ul
{
    font-family: "Source Sans Pro";
    font-size: 14px;
    font-weight: 600;
    color: #a3b1bf;
    margin-top: 18px;
}

.footer li
{
    vertical-align: middle;
}

.logo
{
    margin-top: 16px;
}

.first_row
{
    margin-bottom: 5px;
}

.first_column
{
    margin-right: 5px;
}

.email
{
    color: #00bc9c;
}



.latest_work_img
{
    width: 100%;
    height: auto;
    
}

.latest_work_img:hover
{
    opacity: 0.3;
}

.img_bg_small
{

    background-image: url("../img/background_green.png");
    //max-width: 125px;
    margin-bottom: 5px;
    margin-right: 5px;
    width: initial;
    //height: 85px;
}

a:hover
{
    color: #2ca792;
}

ul
{
    list-style-type: none;
    
}

li.address
{
    list-style-image: url("../img/icon-location.png");
}

li.phone
{
    list-style-image: url("../img/icon-mobile.png");
}

li.email_address
{
    list-style-image: url("../img/icon-mail-1.png");
}


.latest_works
{
    margin-bottom: 22px;
}

.input_email
{
    max-width: 270px;
    height: 40px;
    border-radius: 3px;
    
}

.input-group-rounded .input-group-field 
{
    max-width: 350px;
    width: 100%;
    height: 40px;
    border-radius: 3px;
    padding-left: 1rem;
    background-color: #586573;
    border-color: #586573;
}

.input-group-rounded .input-group-button .button 
{
    width: 88px;
    height: 30px;
    border-radius: 3px;
    background-color: #00bb9b;
    position: absolute;
    margin-top: 5px;
    margin-left: -92px;
    font-size: 13px;
    letter-spacing: 0px;
    color: rgb(255,255,255);
    font-family: "Source Sans Pro";
    font-weight: bold;
    text-align: center;
}

.button_tittle1
{
    font-size: 13px;
    letter-spacing: 0px;
    color: rgb(255,255,255);
    font-family: "Source Sans Pro";
    font-weight: bold;
    text-align: center;
}

.after_footer
{
    height: 85px;
    background-color: #273545;
    border: 0px solid rgb(21,169,139);
    padding: 15px;
}
.dot
{
    //display: block;
    //float: left;
    line-height: 60px;
    font-size: 14px;
    color: rgb(80,106,133);
    font-family: "Source Sans Pro";
}

.footer_text
{
    line-height: 60px;
    font-size: 14px;
    color: rgb(80,106,133);
    font-family: "Source Sans Pro";
}

.after_footer a
{
    line-height: 36px;
    font-size: 14px;
    color: rgb(80,106,133);
    font-family: "Source Sans Pro";
}

.after_footer_menu
{
    //display: inline-block;
    
}

@media screen and (max-width: 1024px)
{
    .footer
    {
        height: 650px;
        background-size: 530px;
    }
    
    .destination p
    {
        margin: 0 auto;
    }
    
    .footer_second_row
    {
        margin-top: 40px;
    }
    
    .start_button
    {
        margin-bottom: 300px;
    }
    
    .property
    {
        text-align: center;
    }
    
    .property img
    {
        margin: 20px auto;
    }
    
    .property .first_img 
    {
        
        margin: 20px auto;
    }
}


@media screen and (max-width: 690px)
{
    .after_footer
    {
        height: 150px;
        
    }
    
    .after_footer ul
    {
        margin: 0 auto;
    }
    
    .footer_text
    {
        text-align: center; 
        margin: 0 auto;
    }
}

@media screen and (max-width: 640px)
{
    .footer
    {
        height: 1100px;
        background-size: 850px;
    }
    
    .destination
    {
        //height: 300px;
    }
    
    .top_block h1
    {
        font-size: 42px;
        margin-top: 180px;
    }
    
}
